name: Update Epic Games Calendar

on:
  schedule:
    - cron: '0 8 * * *' # каждый день в 08:00 UTC
  workflow_dispatch: # позволяет запускать вручную

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout репозиторий
      uses: actions/checkout@v3

    - name: Установка Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Установка зависимостей
      run: pip install -r requirements.txt

    - name: Запуск скрипта
      run: python script.py

        - name: Коммит и пуш изменений
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"
        git add epic_free_games.ics
        git commit -m "Автоматическое обновление календаря" || echo "No changes to commit"
        git push https://x-access-token:${{ secrets.GH_PAT }}@github.com/${{ github.repository }} HEAD:main
